--
-- PostgreSQL database dump
--

-- Dumped from database version 15.2
-- Dumped by pg_dump version 15.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: jalan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jalan (
    id_jalan integer NOT NULL,
    nama_jalan character varying(35),
    lebar_jalan numeric(4,2),
    konstruksi character varying(10),
    kondisi character varying(10),
    kelas character varying(15),
    arah character varying(10),
    jl_geom public.geometry(Geometry,4326)
);


ALTER TABLE public.jalan OWNER TO postgres;

--
-- Name: landuse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.landuse (
    id_landuse integer NOT NULL,
    penggunaan character varying(15),
    luas numeric(9,3),
    landuse_geom public.geometry(Geometry,4326)
);


ALTER TABLE public.landuse OWNER TO postgres;

--
-- Name: provider; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.provider (
    id_provider integer NOT NULL,
    provider character varying(20),
    jns_jaringan character varying,
    pemilik_saham character varying(250),
    produk character varying(300),
    alamat_ktr character varying(150)
);


ALTER TABLE public.provider OWNER TO postgres;

--
-- Name: tb_jt; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.tb_jt AS
 SELECT jalan.jl_geom AS jt_geom
   FROM public.jalan
  WHERE ((jalan.nama_jalan)::text = 'Jalan Lintas Timur Sumatera'::text);


ALTER TABLE public.tb_jt OWNER TO postgres;

--
-- Name: tb_jtm; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tb_jtm (
    jt_geom public.geometry(Geometry,4326)
);


ALTER TABLE public.tb_jtm OWNER TO postgres;

--
-- Name: tower; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tower (
    id_tower integer NOT NULL,
    tinggi numeric(5,2),
    luas_tapak numeric(5,2),
    konstruksi character varying(15),
    tahun_pembuatan character varying(4),
    pt_pembuat character varying(25),
    id_provider integer NOT NULL,
    tower_geom public.geometry(Geometry,4326)
);


ALTER TABLE public.tower OWNER TO postgres;

--
-- Name: wilayah; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wilayah (
    id_wilayah integer NOT NULL,
    kabupaten character varying(30),
    nama_bupati character varying(25),
    wilayah_geom public.geometry(Geometry,4326)
);


ALTER TABLE public.wilayah OWNER TO postgres;

--
-- Data for Name: jalan; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.jalan VALUES (20, 'Jalan Lintas Timur Sumatera', 15.00, 'Aspal', 'Baik', 'Jalan Nasional', 'Dua Arah', '0102000020E610000006000000C0232A5437155A40359BED28D34A11C06F2A52616C1F5A402D3E05C0784612C080D250A390245A403561F6105F7013C0F4AED5792F385A4024574714AE4913C05917B7D100425A402EFF21FDF69513C0736891ED7C4D5A4052D50451F78113C0');
INSERT INTO public.jalan VALUES (21, 'Jalan Lintas Tengah Sumatera', 15.00, 'Aspal', 'Sedang', 'Jalan Nasional', 'Dua Arah', '0102000020E61000000800000034283F4EBD435A400A31A67F9A4315C09A91E634304E5A40119333BE76E513C0736891ED7C4D5A4052D50451F78113C0C87BD5CA844D5A40E6913F1878AE12C01B12F758FA505A404CFDBCA948E511C08B71FE26144E5A401FA2D11DC42E11C03769BF5ADA4F5A40FE8A53B23E1710C06C04E275FD445A40B7B7861260120FC0');
INSERT INTO public.jalan VALUES (22, 'Jalan Sukarno hatta', 15.00, 'Aspal', 'Buruk', 'Jalan Provinsi', 'Dua Arah', '0102000020E6100000030000009A91E634304E5A40119333BE76E513C00AC446B4F8515A404B4E8328B3D713C0291A10C6F4595A40A35F495C410914C0');


--
-- Data for Name: landuse; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.landuse VALUES (10, 'Sawah', 32344.507, '0103000020E61000000100000007000000520DFB3D31365A40B33E01EE5BC211C0EAF4728E703D5A40D3E9ED8D299B11C0DB8420AC6B415A40676BE2BCB65312C0E6CC7685BE385A40B851FAC801A712C0E607AEF284375A407F95FAB4B58412C0C23A44928F395A4086C79A6B7A6F12C0520DFB3D31365A40B33E01EE5BC211C0');
INSERT INTO public.landuse VALUES (11, 'Sawah', 29911.845, '0103000020E61000000100000006000000695B28F455485A400AC7D87B846F10C054BEB1B1DC505A409C059549F16D10C0E61604A09B505A40050EFE046BEA10C08EA1AD942F505A406F3E9972CA2111C062FB24D211475A406F3E9972CA2111C0695B28F455485A400AC7D87B846F10C0');
INSERT INTO public.landuse VALUES (12, 'Ladang', 19946.679, '0103000020E6100000010000000600000054BEB1B1DC505A409C059549F16D10C00897E9F2415B5A4010D11D01327910C0B1D6F5B0BC5A5A408FAF51970BB310C0F3F807DB99565A40B6EDFF0C04E510C0E61604A09B505A40050EFE046BEA10C054BEB1B1DC505A409C059549F16D10C0');


--
-- Data for Name: provider; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.provider VALUES (100, 'TELKOMSEL', 'GSM', 'PT Telkom dengan kepemilikan saham sebesar 65 persen dan SingTel sebesar 35 
persen', 'kartuHALO (paska bayar) dan  simPATI dan Kartu AS (pra bayar)', 'Wisma Mulia,Lt.Mezzanine ,Jl.Jend 
Gatot Subroto N o 42. Jakarta 12710,DKI Jakarta');
INSERT INTO public.provider VALUES (101, 'INDOSAT', 'GSM', 'Qatar Telecom 65%, Publik 20,1%, serta Pemerintah Republik Indonesia 14,9%', 'Mentari, iM3 Pra bayar dan Matrix Paska Bayar dan StarOne (prabayar dan pascabayar)', 'Gedung Indosat, Jalan 
Medan Merdeka Barat, No. 21, Jakarta 10110');
INSERT INTO public.provider VALUES (102, 'SMARTFREN TELECOM', 'CDMA', 'Grup Sinar Mas', 'Smartfren Local Plus, Smartfren Social, dan 
Smartfren Connex', 'Jl.Haji Agus Salim No. 45, Sabang, Jakarta Pusat');


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tb_jtm; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.tb_jtm VALUES ('0102000020E610000006000000C0232A5437155A40359BED28D34A11C06F2A52616C1F5A402D3E05C0784612C080D250A390245A403561F6105F7013C0F4AED5792F385A4024574714AE4913C05917B7D100425A402EFF21FDF69513C0736891ED7C4D5A4052D50451F78113C0');


--
-- Data for Name: tower; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.tower VALUES (10, 100.20, 150.50, 'Baja Anti Karat', '2000', 'PT.Romi Brother', 104, '0101000020E61000000683E56B8A195A405C751A3BBABF12C0');
INSERT INTO public.tower VALUES (11, 90.50, 170.20, 'Baja Anti Karat', '2005', 'PT.Angin ribut', 100, '0101000020E61000000EFF44C07C2A5A40A67EB3D447EC11C0');
INSERT INTO public.tower VALUES (12, 150.00, 300.00, 'Baja Anti Karat', '2001', 'PT.Inti Telekomunikasi', 104, '0101000020E61000005D5935CE1E445A40ADB38EE41A7A10C0');


--
-- Data for Name: wilayah; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.wilayah VALUES (10, 'Way Kanan', 'Hi.Bustami Zainudin', '0103000020E61000000100000009000000284F0FC0BC155A406B0705A0AF6F13C019EE128BCE145A403F0FD93390EC11C0596DFE5F75285A409E1C084011EE10C084C8D8BFA13A5A40C6ECFA3F66CB10C0BE463767693C5A40EBED392AE32512C07A8A1C22EE275A40161B282DB24413C07265F5B37D245A4021E5010E9CC313C04ADC86F8471F5A40C8C1A764F9A513C0284F0FC0BC155A406B0705A0AF6F13C0');
INSERT INTO public.wilayah VALUES (11, 'Tulang Bawang Barat', 'Bachtiar Basrie', '0103000020E6100000010000000800000084C8D8BFA13A5A40C6ECFA3F66CB10C0BA0ACE8536425A40C1EC0821CC9110C0543310702D4B5A4014C742F387FA10C08EDF258282495A402894BD590E5212C086B24BAFA8475A4032FEDB37870713C040F7E5CCF63F5A403538815198AD12C0BE463767693C5A40EBED392AE32512C084C8D8BFA13A5A40C6ECFA3F66CB10C0');
INSERT INTO public.wilayah VALUES (12, 'Mesuji', 'Khamamik', '0103000020E61000000100000009000000BA0ACE8536425A40C1EC0821CC9110C0AA08DC5FE24C5A405C4E0C40D8220FC0A519E65FA6545A40FA12FCFFD0D50DC05A3EDC1FB9625A4022E2379C31100FC08C45782057715A40909D6B23947410C008CBD8D04D6B5A4007D9D58B71BF10C0F08F526408575A403FF54213BE8110C0543310702D4B5A4014C742F387FA10C0BA0ACE8536425A40C1EC0821CC9110C0');


--
-- Name: jalan pk_jalan; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jalan
    ADD CONSTRAINT pk_jalan PRIMARY KEY (id_jalan);


--
-- Name: landuse pk_landuse; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.landuse
    ADD CONSTRAINT pk_landuse PRIMARY KEY (id_landuse);


--
-- Name: provider pk_provider; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.provider
    ADD CONSTRAINT pk_provider PRIMARY KEY (id_provider);


--
-- Name: tower pk_tower; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tower
    ADD CONSTRAINT pk_tower PRIMARY KEY (id_tower);


--
-- Name: wilayah pk_wilayah; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wilayah
    ADD CONSTRAINT pk_wilayah PRIMARY KEY (id_wilayah);


--
-- Name: tower fk_tower; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tower
    ADD CONSTRAINT fk_tower FOREIGN KEY (id_provider) REFERENCES public.provider(id_provider);


--
-- PostgreSQL database dump complete
--

